.p-y-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: transparent;
}

.navbar {
	background-color: black;
}

body {
	background: url(../image/baseball-background1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* header */
header {
	background: #ccc;
}
ul.centered-pills {
	display: inline-block;
}

.row {
	padding-top: 2rem;
}
.nav-center {
	color: grey;
}

/* footer */
footer {
	background: #ccc;
	color: white;
}
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}