.p-y-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(245, 245, 245, 0.7);
}

button.logout {
	margin-right: 1rem;
	margin-left: 1rem;
}

.navbar {
	background-color: black;
}

body {
	background: url(../image/baseball-background1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* header */
header {
	background: #ccc;
}

ul.centered-pills {
	display: inline-block;
}

.white-background {
	background-color: white;
}
.row {
	padding-top: 2rem;
}

.nav-center {
	color: grey;
}

.col-md-12 {
	padding-top: 2rem;
}

/* footer */
footer {
	background: #ccc;
	color: white;
}

html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}