<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script data-require="bootstrap.js@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
		<title>lucaslaudick.com test</title>
	</head>
	<body class="sfooter">
		<div class="sfooter-content">

			<!-- header -->
			<header class="p-y-4">
				<div class="container">
					<nav class="navbar navbar-inverse">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">RealTimeScout</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

							<ul class="nav navbar-nav navbar-right">
								<li><a href="#">Home</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Players</a></li>
								<li><a href="#">Search</a></li>
								<li><a href="#">Profile</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>
				</div>
			</header>
			<main>
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="well text-center">
								<h4>Player Picture</h4>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="well">
								<h4>Player Stats</h4>
								<p>First Name: Jeffery</p>
								<p>Last Name: McJeffery</p>
								<p>Batting: Right</p>
								<p>Position: First Base</p>
								<p>Height: 75 inches</p>
								<p>Weight: 290</p>
								<p>HomeTown: Denver, CO</p>
								<p>Health Status: Active</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="well text-center">
								<h4>Favorite Players</h4>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
								<p>pic</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="well text-center">
								<h4>Player Schedule</h4>
							</div>
						</div>
					</div>
					<div class="nav-center">
						<ul class="nav nav-pills nav-justified">
							<li role="presentation"><a href="#">Home</a></li>
							<li role="presentation"><a href="#">About Us</a></li>
							<li role="presentation"><a href="#">Players</a></li>
							<li role="presentation"><a href="#">Search</a></li>
							<li role="presentation"><a href="#">Profile</a></li>
							<li role="presentation"><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</main>
		</div>
		<footer class="p-y-4">
			<div class="container">
				<div class="copyright text-center">
					&copy; RealTimeScout Productions
				</div>
			</div>
		</footer>
	</body>
</html>